@import url("./../../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./../../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import url("./utilities.css");
@import url("./nav.css");
@import url("./services.css");

ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}
