/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}
/* change the link color */
.navbar-custom .nav-link {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: black;
}
.nav-link {
    color: black;
}
.transToWhiteBg {
    -webkit-animation-name: transToWhiteBgAni; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: transToWhiteBgAni;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.whiteToTransBg {
    -webkit-animation-name: whiteToTransBgAni; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: whiteToTransBgAni;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


@keyframes transToWhiteBgAni {
    0% { background-color: transparent; }
    100% { background-color: #ffffff; }
}

@keyframes whiteToTransBgAni {
    0% { background-color: #ffffff; }
    100% { background-color: transparent; }
}

.floating-scroll-button {
    background: white;
    color: black;
    border-radius: 45px;
    display: flex;
    bottom: 40px;
    height: 45px;
    width: 45px;
    right: 40px;
    position: fixed;
    z-index: 1000;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.floating-scroll-button:hover {
    background: black;
    color: white;
}

.floating-scroll-button.transition {
    transition: background 0.2s ease, color 0.2s ease;
}